<div class="profile-page-wrapper" *ngIf="profile">
  <div class="profile-container">

    <header class="profile-header">

      <div class="status-indicator" [class.is-offline]="!isOnline">
        <span class="pulse-dot" [class.dot-offline]="!isOnline"></span>
        <span class="status-text">{{ isOnline ? 'Online' : 'Offline' }}</span>
      </div>
      <button *ngIf="isOwner" class="edit-profile-action" routerLink="/profile/edit">
        <span class="icon">⚙️</span>
        <span class="label">Налаштувати</span>
      </button>

      <div class="avatar-wrapper" #avatarWrapper (mousemove)="onMouseMove($event)">
        <img [src]="currentAvatar" class="profile-avatar" alt="Аватар">

        <div *ngIf="isOwner" class="upload-overlay">
          <label for="file-upload" class="custom-file-upload">
            <span>Змінити фото</span>
          </label>
          <input id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        </div>
      </div>

      <h2 class="user-name">{{ profile.firstName }} {{ profile.lastName }}</h2>
    </header>

    <main class="profile-content">
      <div class="posts-section">
        <app-post-list *ngIf="profile.id" [ownerId]="profile!.id" [ownerType]="'PROFILE'" [canPost]="isOwner"></app-post-list>
      </div>
    </main>

  </div>
</div>
