# --- IDE & System ---
.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db

# --- Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/

*.class
*.log
*.jar
*.war
*.ear
.factorypath
HELP.md

node_modules/
dist/
tmp/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.local
*.properties
!src/main/resources/application.properties

.DS_Store
desktop.ini