<div class="comments-container">
  <div class="add-comment-form">
    <input
      type="text"
      [(ngModel)]="newCommentText"
      placeholder="Написати коментар..."
      (keyup.enter)="submitComment()">
    <button (click)="submitComment()" [disabled]="!newCommentText.trim()">
      Опублікувати
    </button>
  </div>

  <div class="comments-list" *ngIf="comments.length > 0">
    <div class="comment-item" *ngFor="let comment of comments">
      <div class="comment-content">
        <div class="comment-header">
          <span class="author">{{ comment.authorName }}</span>
          <span class="date">{{ comment.createDate | date:'dd.MM.yyyy' }}</span>
        </div>
        <p class="text">{{ comment.text }}</p>
      </div>
    </div>
  </div>
</div>
